@model QouteAcknowledgements.Controllers.VariableContainer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2> Whats the craic bois??</h2>
    <input type="button"
           value="Reset"
           onclick="location.href='@Url.Action("Index", new { id = -1 })'">

    <div>
        <ul style="width:45%; float:left;">

            @if (Model.UnacknowledgedQoutes != null)
            {

                @foreach (var item in Model.UnacknowledgedQoutes.ToList())
                {

                    <li>
                        @Html.DisplayFor(modelItem => item.QouteID)
                        -
                        @Html.DisplayFor(modelItem => item.QouteText)
                        <input type="button"
                               value="Acknowledge"
                               onclick="location.href='@Url.Action("Index", new { id = item.QouteID })'">


                    </li>

                }
            }
        </ul>

        <ul style="width:45%; float:right;">
            @if (Model.AcknowledgedQoutes != null)
            {
                @foreach (var item in Model.AcknowledgedQoutes.ToList())
                {

                    <li>
                        @Html.DisplayFor(modelItem => item.QouteID)
                        -
                        @Html.DisplayFor(modelItem => item.QouteText)
                        <input type="button"
                               value="Acknowledge"
                               onclick="location.href='@Url.Action("Index", new { id = item.QouteID })'">
                    </li>

                }
            }
        </ul>

    </div>
</div>
